@import "functions";
@import "variables";
@import "mixins";
@import "utilities";


@import "root";
@import "reboot";
@import "type";
@import "images";
@import "containers";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "nav";
@import "navbar";
@import "card";
@import "accordion";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "alert";
@import "progress";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "offcanvas";
@import "placeholders";


@import "helpers";

@import "utilities/api";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,600;0,700;1,300&display=swap');
:root{
    --green: rgb(8, 66, 8);
    --dark: rgba(0, 22, 0, 0.63);
    --light-green: rgb(63, 121, 63);
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 6xp;
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    text-decoration-color:#fffafa;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body{
    background: rgb(255, 241, 241);
    margin: 0;
    text-align: initial;
    align-items: initial;
    justify-content: initial;
    font-size: 30px;
    font-family: 'MS Sans Serif';
    color:#000000;
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: #fff;
    padding:1rem 1%;
    box-shadow: 0.2rem 0.2rem rgb(0, 0, 0);
    display: flex;
    align-items: inherit;
}
header .navbar a{
    font-size: 2.8rem;
    padding:0 1.9rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-top:1rem;
    margin-left: .5rem;
}
header .logo {
    margin-top:1rem;
    font-size: 1.5rem;
    color: rgb(206, 93, 28);
    margin-left: .2rem;
    text-decoration: none;
}
header .logo span{
    margin-top:1rem;
    color: rgb(15, 26, 119);
    font-size: 4rem;
    padding:0 .5rem;
    margin-left: .2rem;
    font-weight: bolder;
}
header .icons #menu-bars{
    display: none;
 }
.img-thumbnail{
background-image:url(ecst_background.jpg);
background-size: cover;
background-position: fixed;
align-items: center;
justify-content: center;
display: block;
}

.home{
    min-height: 30vh;
    background-color: #fff;
    background-size: cover;
    background-position: fixed;
    align-items: center;
    margin-top: .1rem;
    border: .1rem solid var(--green);
    border-radius: .1rem;
    display: flex;
}
.programs{
    min-height: 50vh;
    min-width: 50vh;
    background-color: #fffafa;
    background-size: cover;
    background-position: center;
    align-items: initial;
    justify-content: center;
    border: .2rem solid;
    border-color: var(--green);
    border-radius: .2rem;
    text-decoration: none;
    display: inline;
}
.facilities{
    min-height: 50vh;
    min-width: 50vh;
    background-color: #fffafa;
    background-size: cover;
    background-position: center;
    align-items: initial;
    justify-content: center;
    border: .2rem solid;
    border-color: var(--green);
    border-radius: .2rem;
    display: inline; 
}
.lifeecst{
    min-height: 60vh;
    min-width: 60vh;
    background-size: cover;
    background-position: center;
    align-items: initial;
    justify-content: center;
    border: .2rem solid;
    border-color: var(--green);
    border-radius: .2rem;
    display: flex;
}

@media(max-width:1024px){
    html{
        font-size: 50%;
        overflow-x: visible;
        scroll-padding-top: 2rem;
    } 
    
    header{
        padding: 1rem .5rem;
}
header .icons #menu-bars{
    display: none;
 }
 header .navbar{
     position: absolute;
     left: 0;right: 0;top: 100%;
     background: #fff;
     border-top: .5rem solid #333;
     border-bottom: .5rem solid #333;
     transition: 1s linear;
 }
 header .navbar a{
     display: inline;
     padding:2rem;
     margin: 2rem;
     background: #fff;
     border: .1px solid #333;
     box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
     border-radius: .5rem;
     
 }
 .lifeecst{
     display: block;
}

@media(max-width:768px){
    header .navbar{
        position: absolute;
        left: 0;right: 0;top: 100%;
        background: #fff;
        border-top: .1rem solid #333;
        border-bottom: .1rem solid #333;
        transition: 1s linear;
    }
    header .navbar a{
        display: inline;
        padding:1.5rem;
        margin: 1.5rem;
        background: #fff;
        border: .1px solid #333;
        box-shadow:0 .5rem .5rem rgba(0,0,0,.1);
        border-radius: .5rem;
        
    }
    header .icons #menu-bars{
       display: none;
    }
    header{
        padding: 1rem .5rem;
}

@media(max-width:650px){
    html{
        font-size: 30%;
        overflow-x: visible;
        scroll-padding-top: 2rem;
    } 
    header .icons #menu-bars{
        display: inline;
        margin-left: 50rem;
     }
     .lifeecst .container img{
         width: 100%;
         height: auto;
     }
     header .navbar{
        position: absolute;
        left: 0;right: 0; top:100%;
        background: #f7f7f7;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        border-top: 1rem solid #333;
        transition: .2s linear;
        border-bottom: 1rem solid #333;
    }
    header .navbar a{
       display: flex;
       width: 100%;
       padding: 1.5rem;
       margin: 1.5rem;
       background: #fff;
       border: .1 solid #333;
       box-shadow: 0 .5rem 1rem #000000;
       border-radius: .5rem;
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .home{
        min-height: 30vh;
        background-color: #fff;
        background-size: cover;
        background-position: fixed;
        align-items: center;
        margin-top: .1rem;
        border: .1rem solid var(--green);
        border-radius: .1rem;
        display: inline;
    }
   
}
@media(max-width:400px){
    html{
        font-size: 30%;
    } 
    header .icons #menu-bars{
        display: inline;
        margin-left: 12rem;
     }
     header .navbar a{
        display: flex;
        width: 100%;
        padding: 1.5rem;
        margin: 1.5rem;
        background: #fff;
        border: .1 solid #333;
        box-shadow: 0 .5rem 1rem #000000;
        border-radius: .5rem;
     }
     .lifeecst .container img{
         width: 100%;
         height: auto;
     }
    
    .home{
        min-height: 30vh;
        background-color: #fff;
        background-size: cover;
        background-position: fixed;
        align-items: center;
        margin-top: .1rem;
        border: .1rem solid var(--green);
        border-radius: .1rem;
        display: inline;
    }
}
}
}


